* {
  --level-incr: inherit;
  --level: inherit;
  --min-contrast: inherit;
  --max-contrast: inherit;
  --prim-hue: inherit;
  --prim-saturation: inherit;
  --low-hue: inherit;
  --high-hue: inherit;
  --low-saturation: inherit;
  --high-saturation: inherit;
  --tint: inherit;
}

.ground-light, .ground-dark {
  --level: 12;
  --luminosity: 0.5;
  --min-contrast: 54%;
  --max-contrast: 90%;
}

.ground-light {
  --level-incr: 1;
  --prim-hue: 53deg;
  --prim-saturation: 36%;
  --low-hue: -50deg;
  --low-saturation: -30%;
  --high-hue: 50deg;
  --high-saturation: 30%;
}
.ground-light .reverse {
  --level-incr: -1;
}

.ground-dark {
  --level-incr: -1;
  --prim-hue: 53deg;
  --prim-saturation: 36%;
  --low-hue: 50deg;
  --low-saturation: 30%;
  --high-hue: -50deg;
  --high-saturation: -30%;
}
.ground-dark .reverse {
  --level-incr: 1;
}

.opaque, .menu a, .frame .sheet .expansible.inline, .frame .sheet .expansible input[type=checkbox] ~ *.expand-else, .frame .sheet .expansible input[type=checkbox] ~ *.expand-then, .frame .sheet .expansible, .frame .sheet button, .frame .sheet input, .frame .sheet textarea, .frame .sheet pre, .frame .sheet code, .frame .sheet, .frame {
  background-color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--low-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--low-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * var(--luminosity) + calc((var(--level-incr) - 1) / 2) * (1 - var(--luminosity))) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.with-border, .menu.right > ul li ul, .menu:not(.right) > ul li ul, .frame .sheet button, .frame .sheet input, .frame .sheet textarea {
  border-color: hsla(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))), 0.3);
}

.primary, .frame .primary {
  --tint: 0deg;
}
.primary, .frame .primary, .primary *, .frame .primary * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.hexad-1, .frame .hexad-1 {
  --tint: 60deg;
}
.hexad-1, .frame .hexad-1, .hexad-1 *, .frame .hexad-1 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.hexad-2, .frame .hexad-2 {
  --tint: 120deg;
}
.hexad-2, .frame .hexad-2, .hexad-2 *, .frame .hexad-2 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.hexad-3, .frame .hexad-3 {
  --tint: 180deg;
}
.hexad-3, .frame .hexad-3, .hexad-3 *, .frame .hexad-3 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.hexad-4, .frame .hexad-4 {
  --tint: 240deg;
}
.hexad-4, .frame .hexad-4, .hexad-4 *, .frame .hexad-4 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.hexad-5, .frame .hexad-5 {
  --tint: 300deg;
}
.hexad-5, .frame .hexad-5, .hexad-5 *, .frame .hexad-5 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.pentad-1, .frame .pentad-1 {
  --tint: 72deg;
}
.pentad-1, .frame .pentad-1, .pentad-1 *, .frame .pentad-1 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.pentad-2, .frame .pentad-2 {
  --tint: 144deg;
}
.pentad-2, .frame .pentad-2, .pentad-2 *, .frame .pentad-2 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.pentad-3, .frame .pentad-3 {
  --tint: 216deg;
}
.pentad-3, .frame .pentad-3, .pentad-3 *, .frame .pentad-3 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.pentad-4, .frame .pentad-4 {
  --tint: 288deg;
}
.pentad-4, .frame .pentad-4, .pentad-4 *, .frame .pentad-4 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.tetrad-1, .frame .tetrad-1 {
  --tint: 90deg;
}
.tetrad-1, .frame .tetrad-1, .tetrad-1 *, .frame .tetrad-1 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.tetrad-2, .frame .tetrad-2 {
  --tint: 180deg;
}
.tetrad-2, .frame .tetrad-2, .tetrad-2 *, .frame .tetrad-2 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.tetrad-3, .frame .tetrad-3 {
  --tint: 270deg;
}
.tetrad-3, .frame .tetrad-3, .tetrad-3 *, .frame .tetrad-3 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.triad-1, .frame .triad-1 {
  --tint: 120deg;
}
.triad-1, .frame .triad-1, .triad-1 *, .frame .triad-1 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

.triad-2, .frame .triad-2 {
  --tint: 240deg;
}
.triad-2, .frame .triad-2, .triad-2 *, .frame .triad-2 * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}

@font-face {
  font-family: "pretty-sans-serif";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("Merriweather-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "pretty-mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url("RobotoMono-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.shiny, .showDiv, .menu a, .frame .sheet button {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 33%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.05) 100%);
}

.huge, .frame h1 {
  font-size: 200%;
}

.large, .frame h2 {
  font-size: 150%;
}

.big, .frame h3 {
  font-size: 125%;
}

.medium, .frame input, .frame textarea, .frame button, .frame h5, .frame h4, .frame .handlebar {
  font-size: 100%;
}

* {
  --font-size: inherit;
}

.frame {
  display: inline-block;
  vertical-align: top;
}
.frame .header {
  font-family: "pretty-sans-serif";
  display: block;
}
.frame .header > * {
  display: inline-block;
  height: 2.0225em;
  vertical-align: middle;
}
.frame .handlebar {
  display: block;
  font-weight: bold;
  padding: 0;
  margin: 0 !important;
}
.frame .sheet {
  font-family: pretty-sans-serif, sans-serif;
  line-height: 1.618em;
  max-width: 88.99em;
}
.frame h1 {
  text-align: center;
}
.frame h1, .frame h2, .frame h3, .frame h4, .frame h5 {
  line-height: 1.618em;
  margin: 0;
}
.frame h1 {
  padding: 0.809em 0;
}
.frame h2 {
  padding: 1.0786666667em 0;
}
.frame h3 {
  padding: 0.9708em 0;
}
.frame h4 {
  padding: 0.809em 0;
}
.frame h5 {
  padding: 1.618em 0 0;
}
.frame p {
  padding: 0;
  margin: 0;
}
.frame p + p {
  text-indent: 2.427em;
}
.frame p + p * {
  text-indent: 0;
}
.frame pre, .frame code {
  font-family: pretty-mono, mono;
  line-height: 1.618em;
}
.frame .box {
  display: block;
}
.frame pre, .frame .box {
  margin: 1.618em auto;
}
.frame pre {
  max-width: 60em;
  overflow: auto;
}
.frame code {
  display: inline-block;
}
.frame dt {
  margin: 0.809em 0;
}
.frame button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.1618em;
  height: 2.0225em;
  line-height: calc(1.618em - 2px);
  vertical-align: top;
}
.frame a {
  text-decoration: none;
}
.frame a:hover {
  text-decoration: underline;
}
.frame input, .frame textarea {
  line-height: calc(1.618em - 2px);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.1618em;
  font-family: pretty-sans-serif;
  display: inline-block;
  vertical-align: top;
}
.frame textarea {
  height: calc(2.0225em - 2px);
  position: relative;
  top: -1px;
  left: -1px;
}
.frame input {
  padding: 0;
  height: calc(2.0225em - 2px);
}
.frame a {
  text-decoration: underline;
}

.frame {
  --level: 6;
  --tint: 0deg;
}
.frame, .frame * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .header {
  --level: 3;
}
.frame .sheet {
  --level: 12;
  --tint: 0deg;
}
.frame .sheet, .frame .sheet * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet p {
  --level: 12;
}
.frame .sheet code {
  --level: 9;
}
.frame .sheet pre {
  --level: 9;
}
.frame .sheet pre code {
  background: none;
}
.frame .sheet input, .frame .sheet textarea {
  --level: 9;
  --tint: 0deg;
}
.frame .sheet input, .frame .sheet input *, .frame .sheet textarea, .frame .sheet textarea * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet a {
  --level: 6;
  --tint: 216deg;
}
.frame .sheet a, .frame .sheet a * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet button {
  --level: 6;
  transition: none !important;
}
.frame .sheet button:hover {
  --level: 9;
}
.frame .sheet button:active {
  --level: 3;
}
.frame .sheet .expansible {
  --tint: 0deg;
  position: relative;
}
.frame .sheet .expansible, .frame .sheet .expansible * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet .expansible input[type=checkbox] {
  display: none;
}
.frame .sheet .expansible input[type=checkbox] ~ * {
  display: block;
  width: 100%;
  transition: height 0.5s;
  overflow: hidden;
}
.frame .sheet .expansible input[type=checkbox] ~ *.expand-then {
  --tint: 0deg;
  --level: 6;
}
.frame .sheet .expansible input[type=checkbox] ~ *.expand-then, .frame .sheet .expansible input[type=checkbox] ~ *.expand-then * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet .expansible input[type=checkbox] ~ *.expand-else {
  --tint: 0deg;
  --level: 9;
}
.frame .sheet .expansible input[type=checkbox] ~ *.expand-else, .frame .sheet .expansible input[type=checkbox] ~ *.expand-else * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet .expansible input[type=checkbox] ~ .expand-then, .frame .sheet .expansible input[type=checkbox]:checked ~ .expand-else {
  height: 0;
}
.frame .sheet .expansible input[type=checkbox]:checked ~ .expand-then, .frame .sheet .expansible input[type=checkbox] ~ .expand-else {
  height: calc(var(--num-lines,1) * 1.618em);
}
.frame .sheet .expansible.inline {
  --tint: 0deg;
  --level: 9;
  display: inline-block;
  max-height: 1.618em;
  vertical-align: bottom;
}
.frame .sheet .expansible.inline, .frame .sheet .expansible.inline * {
  color: hsl(calc(var(--tint) + var(--prim-hue) * calc(1 - 1 / (14 - var(--level))) + var(--high-hue) * calc(1 / (14 - var(--level)))), calc(var(--prim-saturation) * calc(1 - 1 / (14 - var(--level))) + var(--high-saturation) * calc(1 / (14 - var(--level)))), calc(var(--luminosity) * 100% + calc(calc((var(--level-incr) + 1) / 2) * (1 - var(--luminosity)) + calc((var(--level-incr) - 1) / 2) * var(--luminosity)) * calc((var(--min-contrast) + (var(--max-contrast) - var(--min-contrast)) * (var(--level) - 1) / 11))));
}
.frame .sheet .expansible.inline input[type=checkbox] {
  display: inline-block;
  position: relative;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: visible;
  transition: width 0.5s;
}
.frame .sheet .expansible.inline input[type=checkbox] ~ * {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
}
.frame .sheet .expansible.inline input[type=checkbox]:checked {
  width: calc(var(--expand-width,1) * 1em);
}
.frame .sheet .expansible.inline input[type=checkbox]:checked ~ * {
  z-index: 1000;
}
.frame .sheet .expansible.inline::after {
  display: block;
  width: 1em;
  height: 1.618em;
  position: absolute;
  right: 0;
  content: " ";
  opacity: 0.4;
  z-index: 100;
  top: 0;
  background-image: var(--checkbox-filler);
  background-size: 1em 1em;
  background-position: top;
  background-repeat: no-repeat;
}
.frame .sheet .expansible.box {
  display: block;
}

.menu {
  position: relative;
  display: inline-block;
}
.menu ul {
  transition: opacity 0.2s;
}
.menu ul, .menu li {
  margin: 0;
  padding: 0;
}
.menu li {
  list-style-type: none;
}
.menu a {
  --level: 3;
  display: block;
  padding: 0.20225em;
  height: 1.618em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  line-height: 1.618em;
}
.menu a:hover {
  --level: 6;
}
.menu > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.menu > ul li {
  position: relative;
}
.menu > ul li li {
  width: 100%;
}
.menu > ul li ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.menu > ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.menu:not(.right) > ul li ul {
  border-left-style: solid;
  border-left-width: 0.1618em;
  left: 1.618em;
  right: 0;
  top: 100%;
}
.menu.right {
  text-align: right;
}
.menu.right > ul li ul {
  border-right-style: solid;
  border-right-width: 0.1618em;
  right: 1.618em;
  left: 0;
  top: 100%;
}
.menu:hover > ul {
  opacity: 1;
  z-index: 10000;
  visibility: visible;
}

.showDiv {
  display: inline-block;
  width: 200px;
  height: 3.236;
  text-align: center;
  padding-top: 1.118em;
}

.nestingDolls div {
  display: block;
  padding: 2em;
  border: 1px solid;
  border-radius: 5px;
}

.hideshow + div {
  display: none;
}

.hideshow:checked + div {
  display: block;
}

* {
  transition: color 0.3s;
  transition: background-color 0.3s;
}

body {
  font-family: "Merriweather";
}

.expansible.inline {
  --checkbox-filler: url("steps.png");
  --expand-width: 20;
}

#sheet-view {
  margin: auto;
}

body {
  font-size: 112.5%;
}

/*# sourceMappingURL=test.css.map */
