$primary:			hsl(26, 8%, 50%);
$primary-background:		hsl(35, 90%, 50%);
$secondary:			hsl(50, 30%, 50%);
$secondary-background: rgba(	hsl(70, 30%, 50%),0.4);
$highlight:			hsl(185, 80%, 50%);
$highlight-secondary:		hsl(225, 67%, 50%);

$text: darken($primary,10%);
$nav-link-visited: lighten($primary,20%);
$th-color: $primary;
$nav-link-secondary: $primary;

$background: lighten($primary-background,45%);
$nav-background: darken($primary-background,45%);
$nav-link-hover-background: darken($primary-background,35%);
$content-border: darken($primary-background,35%);
$nav-li-border: darken($primary-background,25%);
$nav-border: darken($primary-background,5%);

$horiz-line: darken($secondary,35%);

$hidestache-background: lighten($secondary-background,40%);

$link: darken($highlight,30%);
$capricon-result: darken($highlight, 40%);

$capricon-stache-background: lighten($highlight-secondary,35%);
$capricon-stache-border: lighten($highlight-secondary,25%);
