$break-wide: 1280px;

@import "theme";
@import "typography";
@import "capricon";

svg.formula {
    display: inline-block; vertical-align: top;
    // border: 1px solid black;
    padding: 0.2em;
    font-style: normal;
    .small { font-size: 70%; }
    .variable { font-style: italic; 
		fill: $link; }
}

html {
    display: block; height: calc(100%);
    background-image: radial-gradient(circle closest-side at center,darken($background,85%),darken($background,90%));
}

body {
    font-family: sans-serif;
    margin: auto;
    height: 100%;
    line-height: 1.6;
    font-size: 18px;
    color: darken($text,30%);
    position: relative;

    @media (min-width: $break-wide) {
	width: 70%;
    	&::before {
	    content: "";
	    background-image: url(math-tile.jpg);
	    background-size: 150%;
	    opacity: 0.1;
	    position: absolute;
	    width: 21%; 
	    right: 100%; top: 0; bottom: 0;
	}
	&::after {
	    content: "";
	    background-image: url(math-tile.jpg);
	    background-size: 150%;
	    opacity: 0.1;
	    position: absolute;
	    width: 21%; 
	    left: 100%; top: 0; bottom: 0;
	}
    }
}

nav.nav {
    border-bottom: 1px outset $nav-border; 
    ul, li {
	margin: 0; padding: 0; background: $nav-background;
	z-index: 2;
    }
    a {
	display: block;
	width: calc(100% - 1em);
	padding: 0.2em 0.5em; 
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	
	&, &:visited { color: $nav-link-visited; }
	&:hover {
	    text-decoration: underline;
	    background: $nav-link-hover-background;
	}
    }
    li {
	border-bottom: 1px outset $nav-li-border; 
	position: relative; list-style-type: none; border-collapse: true; text-align: center; }
    & > ul > li {
	display: inline-block; width: 100%;
	ul {
	    display: none;
	    position: absolute;
	    left: 100%; top: -1px;
	}
	& > ul { left: -1px; top: 100%; }
    }
    li:hover > ul {
	display: block;
	width: calc(100% + 2px);
    }
}

#nav-title, #nav-head, #page-source {
    white-space: nowrap;
    text-overflow: ellipsis;
}
#nav-title {
    position: relative; width: 70%;
    & > ul { width: 50%; li { text-align: left; } }
    &:hover > ul { width: calc(50% + 2px); } 
}
#nav-head {
    text-align: left; width: 15%;
    & > ul li { text-align: left; }
}
#page-source {
    width: 15%; text-align: right;
}    
#nav-head, #page-source { a { color: $nav-link-secondary; } }

#content-frame {
    position: relative;
    height: calc(100% - 2.25em - 2px); 
    padding: 0 0 0 1em;
    border-left: 2px outset $content-border;
    border-right: 2px outset $content-border;
}

#content-scroll {
    height: 100%; 
    overflow: auto;
    &:active, &:focus { outline: none; }
}
#content {
    padding: 0 2em 4em;
    min-height: calc(100% - 5em);
    position: relative;
    & > *:first-child {
	margin-top: $line-height * 1em;
    }
}
#content-scroll, #content-frame { overflow-x: visible; }

#footer {
    &::before {
	content: "";
	display: block; width: 90%; margin: auto;
	border-bottom: 1px solid black;
    }
    text-align: center;
    font-size: small;
    position: absolute; bottom: 0; width: 80%; margin-left: 8%;
}

.math.inline { font-size: 80%; }
