$primary: ( -50deg, -30%, hsl(53,36%,50%), 50deg, 30% );

@import "palette";

$line-height: 1.618;

@import "sheet";
@import "expansible";
@import "menu";

.showDiv { @extend .shiny; display: inline-block; width: 200px; height: 2 * $line-height; text-align: center; padding-top: $line-height - 0.5em; }
.nestingDolls div { display: block; padding: 2em; border: 1px solid; border-radius: 5px; }

.hideshow + div { display: none; }
.hideshow:checked + div { display: block; }

* { transition: color 0.3s; transition: background-color 0.3s; }

body { font-family: 'Merriweather' };

.expansible.inline {
    --checkbox-filler: url('steps.png');
    --expand-width: 20;
}

#sheet-view { margin: auto; }

body { font-size: 112.5%; }


